@use "./scss/base/base" as *;
@use "./scss/components/header" as *;
@use "./scss/utils/utils" as *;
@use "./scss/components/modal" as *;
@use "./scss/components/nav" as *;
@use "./scss/components/toggle" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
